$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icons" !default;

$icon-mobile: "\e900";
$icon-phone: "\e901";
$icon-location: "\e902";
$icon-twitter: "\e903";
$icon-facebook: "\e904";
$icon-technical: "\e909";
$icon-support: "\e90a";
$icon-employees: "\e90b";
$icon-success: "\e90c";
$icon-coin: "\e90d";
$icon-rocket: "\e911";
$icon-fast: "\e912";
$icon-bag: "\e913";
$icon-cart: "\e914";
$icon-login: "\e915";
$icon-sort-arrows: "\e92e";
$icon-resize: "\e92d";
$icon-reset: "\e92b";
$icon-close: "\e928";
$icon-menu: "\e929";
$icon-left-arrow: "\e927";
$icon-file: "\e926";
$icon-minus: "\e91a";
$icon-plus: "\e91b";
$icon-valid-date: "\e918";
$icon-play: "\e90f";
$icon-search: "\e905";
$icon-volume: "\e906";
$icon-font-sizing: "\e907";
$icon-youtube: "\e908";
$icon-right-arrow: "\e90e";
$icon-lock: "\e910";
$icon-check: "\e91f";
$icon-clock: "\e920";
$icon-fax: "\e922";