// -------------
// Colors
// -------------

$main-color: #30267f;
$secondary-color: #e6332a;
$dark-blue: #312783;
$dark: #000000;
$light-dark: #263238;
$white: #ffffff;
$gray: #5e5e5e;
$gray-secondary: #607d8b;
$light-gray: #f1f1f1;
$soft-light-gray: #d9d9d9;
$light-d-dray: #cfd8dc;
$dark-gray: #606b71;
$light-blue: #3c5a9a;
$green: #2da24a;
$yellow: #f3c200;
$orange: #f15a25;