.btn-primary {
    border-radius: to-rem(50px);
    font-size: to-rem(16px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    text-transform: capitalize;
    &.default {
        background-color: $secondary-color;
        color: $white;
        font-family: var(--avenir);
    }
    &.gray {
        background-color: $light-d-dray;
        color: $dark-gray;
        font-family: var(--mont-regular);
    }
    &.blue {
        background-color: $dark-blue;
        color: $white;
        font-family: var(--mont-bold);
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 0;
    }
    &.pricing-btn {
        height: to-rem(42px);
        width: 90%;
        margin: auto;
        margin-bottom: to-rem(18px);
        &.blue {
            background-color: $light-blue;
        }
        &.green {
            background-color: $green;
        }
        &.yellow {
            background-color: $yellow;
        }
        &.orange {
            background-color: $orange;
        }
    }
    &.lg {
        width: to-rem(259px);
        height: to-rem(44px);
    }
    &.sm {
        width: to-rem(114px);
        height: to-rem(38px);
    }
    &.full {
        width: 100%;
        height: to-rem(50px);
    }
}