// Base
html {
  font-family: var(--regular-font);
  font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: var(--regular-font);
}
input {
  &:hover, &:active, &:focus {
    box-shadow: none !important;
  }
}
a {
  text-decoration: none;
}
@media (min-width: 1400px) {
  .container {
    max-width: 75% !important;
  }
}
.sec-title {
  color: $dark;
  font-size: to-rem(24px);
  font-family: var(--mont-semi-bold);
}
.mt-60 {
  margin-top: to-rem(60px);
}